:root {
    // --- COLORS --- \\
    --primary-color: #fff;
    --secondary-color: #dc1a28;
    --tertiary-color: #303030;
    --quaternary-color:#000000;

    // --- SPACING --- \\
    --container-padding: 0.3rem;
}