:root {
    // --- COLORS --- \\
    --primary-color: #fff;
    --secondary-color: #dc1a28;
    --tertiary-color: #303030;
    --quaternay-color:#000000;
    --quintenary-color: #d43345;

    // --- SPACING --- \\
    --container-padding: 0.3rem;
}